body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('images/BOB.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white; /* Set all text color to white */
}

header {
    background: none;
    color: white; /* Header text color */
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h2 {
    margin: 0;
    font-size: 1.5em;
}

section {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: black; /* Section text color */
}

h3 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: white; /* Heading text color */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid #333;
}

footer {
    background: none;
    color: white; /* Footer text color */
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Remove background for specific sections */
section#about,
section#experience,
section#skills,
section#contact {
    background: none;
    color: black; /* Text color for these sections */
}
